<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionStrings>
  <add name="ConStr" connectionString="Data Source=LAPTOP-V1HUQMV6;Initial Catalog=STMS;Integrated Security=True" />
  <add name="Example_1.Properties.Settings.STMSConnectionString"
   connectionString="Data Source=LAPTOP-FACBHIB8;Initial Catalog=STMS;Persist Security Info=True;User ID=sa"
   providerName="System.Data.SqlClient" />
 </connectionStrings>
</configuration>